<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Destaques no agronegócio</h1>

  <ion-slides>
    <ion-slide>
      <img
        src="https://img.freepik.com/vetores-gratis/infografico-de-ecologia-com-foto_23-2148460327.jpg?size=626&ext=jpg&ga=GA1.2.1329904569.1679678168&semt=sph"
        alt="">
    </ion-slide>

    <ion-slide>
      <img
        src="https://img.freepik.com/fotos-gratis/vista-frontal-de-maos-masculinas-segurando-o-solo-e-uma-plantinha_23-2148814126.jpg?size=626&ext=jpg&ga=GA1.2.1329904569.1679678168&semt=sph"
        alt="">
    </ion-slide>

    <ion-slide>
      <img
        src="https://img.freepik.com/fotos-gratis/agricultura-inteligente-com-iot-agricola_53876-124634.jpg?size=626&ext=jpg&ga=GA1.2.1329904569.1679678168&semt=sph"
        alt="">
    </ion-slide>
  </ion-slides>

  <h2>Principais Frutos Nativos da Região do Amapá</h2>

  <ion-card class="coluna" [routerLink]="['/conheca-fg/:id']" routerdirection="forward">
    <ion-card-content>
      <ion-icon name="map-sharp"></ion-icon>
      <ion-card-title>Açai</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="coluna" [routerLink]="['/conheca-fg/:id']" routerdirection="forward">
    <ion-card-content>
      <ion-icon name="map-sharp"></ion-icon>
      <ion-card-title>Bacaba</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="coluna" [routerLink]="['/conheca-fg/:id']" routerdirection="forward">
    <ion-card-content>
      <ion-icon name="map-sharp"></ion-icon>
      <ion-card-title>Cupuaçu</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="coluna" [routerLink]="['/conheca-fg/:id']" routerdirection="forward">
    <ion-card-content>
      <ion-icon name="map-sharp"></ion-icon>
      <ion-card-title>Taperebá</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="coluna" [routerLink]="['/conheca-fg/:id']" routerdirection="forward">
    <ion-card-content>
      <ion-icon name="map-sharp"></ion-icon>
      <ion-card-title>Murici</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="coluna" [routerLink]="['/conheca-fg/:id']" routerdirection="forward">
    <ion-card-content>
      <ion-icon name="map-sharp"></ion-icon>
      <ion-card-title>Cacau</ion-card-title>
    </ion-card-content>
  </ion-card>

  <ion-card class="coluna" [routerLink]="['/conheca-fg/:id']" routerdirection="forward">
    <ion-card-content>
      <ion-icon name="map-sharp"></ion-icon>
      <ion-card-title>Bacuri</ion-card-title>
    </ion-card-content>
  </ion-card>

</ion-content>