<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Destaques no agronegócio</h1>
  <hr>

  <ion-slides [options]="slideOptsOne">
    <ion-slide>
      <img
        src="/src/assets/img/img2.jpg"
        alt="">
    </ion-slide>

    <ion-slide>
      <img
        src="https://img.freepik.com/fotos-gratis/vista-frontal-de-maos-masculinas-segurando-o-solo-e-uma-plantinha_23-2148814126.jpg?size=626&ext=jpg&ga=GA1.2.1329904569.1679678168&semt=sph"
        alt="">
    </ion-slide>

    <ion-slide>
      <img
        src="https://img.freepik.com/fotos-gratis/agricultura-inteligente-com-iot-agricola_53876-124634.jpg?size=626&ext=jpg&ga=GA1.2.1329904569.1679678168&semt=sph"
        alt="">
    </ion-slide>
  </ion-slides>
  <div class="titulo2">
    <h2>Principais Frutos Nativos da Região do Amapá</h2>
    </div>
    <hr>
  <div class="card1">
    <ion-card color="dark">
      <ion-card-content>
        <ion-icon name="map-sharp"></ion-icon>
        <ion-card-title>Açai</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card color="secondary">
      <ion-card-content>
        <ion-icon name="map-sharp"></ion-icon>
        <ion-card-title>Bacaba</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card color="tertiary">
      <ion-card-content>
        <ion-icon name="map-sharp"></ion-icon>
        <ion-card-title>Cupuaçu</ion-card-title>
      </ion-card-content>
    </ion-card>
    </div>
    <div class="card2">
    <ion-card color="success">
      <ion-card-content>
        <ion-icon name="map-sharp"></ion-icon>
        <ion-card-title>Taperebá</ion-card-title>
      </ion-card-content>
    </ion-card>
  
    <ion-card color="warning">
      <ion-card-content>
        <ion-icon name="map-sharp"></ion-icon>
        <ion-card-title>Murici</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card color="danger">
      <ion-card-content>
        <ion-icon name="map-sharp"></ion-icon>
        <ion-card-title>Cacau</ion-card-title>
      </ion-card-content>
    </ion-card>
    </div>
    <div class="card3">
    <ion-card color="light">
      <ion-card-content>
        <ion-icon name="map-sharp"></ion-icon>
        <ion-card-title>Camu</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card color="medium">
      <ion-card-content>
        <ion-icon name="map-sharp"></ion-icon>
        <ion-card-title>Bacuri</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card color="primary">
      <ion-card-content>
        <ion-icon name="map-sharp"></ion-icon>
        <ion-card-title>Abacaxi</ion-card-title>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>