<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>acai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://th.bing.com/th/id/R.a9179083dab10f7fd4e95243084f499e?rik=L%2brj%2fFntXevk6Q&pid=ImgRaw&r=0" />
      <ion-card-header>
        <ion-card-title>Antracnose</ion-card-title>
        <ion-card-subtitle>Colletotrichum gloeosporioides</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
</ion-content>
