<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>acai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="fundo">
    <img alt="Silhouette of mountains"
      src="https://t4.ftcdn.net/jpg/01/94/05/65/240_F_194056532_qHuI1trxAFleukIMITeCGnUw4CPXnAzT.jpg" />
    <ion-card-header>
      <ion-card-content>
        <h4>AÇAI</h4>
        <hr>
        O açaí, com nome científico Euterpe oleracea, é um fruto carnudo, simples, e arredondado de coloração violácea
        (quase negra), quando no ponto máximo de maturação. É produzido pela palmeira açaizeira, muito comum na região
        da Amazônia. Seu consumo remete a tempos anteriores à civilização das Américas, e é considerado uma das
        principais fontes de renda de ribeirinhos do Norte do Brasil.
      </ion-card-content>
      <hr>
      <ion-card-subtitle>
        <div class="bnt">
          <div class="bnt-pragas" [routerLink]="['/pragas']">
            <button>PRAGAS</button>
          </div>
          <div class="bnt-doencas" [routerLink]="['/doencas']" routerdirection="forward">
            <BUtton>DOENÇAS</BUtton>
          </div>
        </div>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="card-conteudo">
    <ion-card-header class="titulo">
      <ion-card-title class="titu" color="light">Historico de Produção</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <br>
      <h5>ORIGEM</h5>
      <hr>
      O açaí é uma fruta nativa da região amazônica, onde é consumido há séculos pelas populações locais. No entanto,
      sua produção em larga escala para fins comerciais é um fenômeno relativamente recente. <br> <br>
      Na década de 1960, a produção comercial de açaí ainda era limitada e concentrada em pequenas comunidades da região
      amazônica. Foi apenas a partir da década de 1990 que o cultivo do açaí começou a se expandir significativamente,
      impulsionado pelo aumento da demanda em todo o Brasil e em outros países.
      <br> <br>
      <h5>ATUALMENTE</h5>
      <hr>
      Hoje em dia, o açaí é uma das principais culturas da região amazônica, com uma produção que supera 1 milhão de
      toneladas anualmente. A maior parte da produção está concentrada no estado do Pará, que responde por cerca de 95%
      da produção total de açaí no Brasil. <br> <br>
      Além do consumo tradicional em forma de bebida ou acompanhado de outros alimentos, o açaí também é utilizado como
      matéria-prima na produção de cosméticos e suplementos alimentares. A crescente demanda pelo açaí tem gerado
      preocupações em relação à sustentabilidade da produção, com o aumento do desmatamento e a exploração de mão de
      obra precária em algumas regiões. Por isso, é importante que a produção do açaí seja feita de forma responsável e
      sustentável, garantindo a preservação da floresta e a justiça social para as comunidades envolvidas na sua
      produção.


    </ion-card-content>
  </ion-card>

  <ion-card class="card-conteudo2">
    <ion-card-header class="titulo">
      <ion-card-title class="titu" color="light">Variedades</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <br>
      <h5>AÇAI-ROXO COMUM</h5>
      <hr>
      <img src="https://gotvach.bg/files/lib/600x350/akai-berry-kosh.jpg" alt="">
      O açaí roxo comum é a variedade mais conhecida e utilizada na produção de alimentos e bebidas à base de açaí. Ele
      é obtido a partir da polpa do fruto da palmeira de açaí-solteiro (Euterpe oleracea), que é colhido das árvores da
      floresta amazônica. <br> <br>
      Apresentando uma cor roxa escura, um sabor característico e adocicado e uma textura cremosa. Ele é bastante
      nutritivo e rico em antioxidantes, além de ser fonte de energia e outros nutrientes importantes, como fibras,
      vitaminas e minerais.
      <br> <br>
      <h5>AÇAI BRANCO</h5>
      <hr>
      <img src="https://th.bing.com/th/id/OIP.pAZos80tEjT8wwDvwrztWQHaEK?pid=ImgDet&rs=1" alt="">
      O açaí branco é uma variedade menos conhecida do açaí, que apresenta uma polpa de cor clara e um sabor mais suave
      do que o açaí roxo comum. Ele é obtido a partir da palmeira de açaí-branco (Euterpe edulis), que é nativa da Mata
      Atlântica, mas também pode ser encontrada em algumas áreas da Amazônia.
      <br> <br>
      Tem uma textura semelhante ao açaí roxo, mas é menos doce e mais cremoso. Ele é rico em nutrientes e
      antioxidantes, além de possuir propriedades anti-inflamatórias e anti-cancerígenas


    </ion-card-content>
  </ion-card>

  <ion-card class="card-conteudo">
    <ion-card-header class="titulo">
      <ion-card-title class="titu" color="light">Manejo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <br>
      <h5>AÇAI DE TERRA FIRME</h5>
      <hr>
      <img
        src="https://www.embrapa.br/documents/58057223/67177816/AC_Acai_foto_abertura.jpg/ce7dde7f-94ae-e6ef-67e4-4d78cfbbc00d?t=1642768795235"
        alt="">
      O manejo do açaí de terra firme inclui diversas etapas que garantem a qualidade e a sustentabilidade da produção.
      As principais etapas são:
      <br> <br>
      <ul>
        <li> <span> Seleção das áreas de plantio: </span> escolher áreas com solos férteis e bem drenados, que permitam
          o desenvolvimento saudável das palmeiras de açaí. Além disso, é importante garantir a preservação das áreas
          naturais da floresta, evitando o desmatamento e a degradação ambiental.
        </li>
        <li> <span>Preparo do solo e plantio: </span>é necessário preparar o solo com adubos orgânicos e realizar o
          plantio de mudas de açaí. As mudas devem ser obtidas de viveiros certificados e ter uma idade adequada para o
          plantio.
        </li>
        <li> <span> da palmeira de açaí: </span> durante o crescimento das palmeiras, é importante realizar a poda das
          folhas secas e a limpeza das áreas ao redor das árvores, evitando a proliferação de pragas e doenças.
        </li>
        <li> <span> Colheita dos frutos: </span> a colheita é feita quando os frutos estão maduros, geralmente no
          período entre julho e dezembro. Os frutos são colhidos manualmente, por meio de escalada ou com o auxílio de
          uma vara de colheita. É importante respeitar a capacidade de carga das árvores, evitando a colheita excessiva
          que pode prejudicar a produção futura
        </li>
        <li> <span> Processamento da polpa: </span> a polpa do açaí é extraída dos frutos e pode ser congelada ou
          pasteurizada para garantir a conservação do produto. É importante realizar o processamento em condições
          higiênicas adequadas e com equipamentos de qualidade.
        </li>
        <li> <span> Comercialização: </span> o açaí pode ser vendido como polpa congelada, na forma de açaí na tigela,
          sorvetes, sucos e outros produtos. É importante garantir a qualidade do produto e a sustentabilidade da
          produção, escolhendo fornecedores que trabalhem com práticas responsáveis e sustentáveis.
        </li>
      </ul>
      <br> <br>
      <h5>AÇAI DE VAZEA</h5>
      <hr>
      <img
        src="https://images.takeshape.io/86ce9525-f5f2-4e97-81ba-54e8ce933da7/dev/8ad734eb-9039-45c2-831c-4396b4cbe47a/480%20Maraj%C3%B3%20v%C3%A1rzea%20-%20Frank%20Kr%C3%A4mer.jpg?auto=compress%2Cformat"
        alt="">
      O manejo do açaí de várzea envolve etapas específicas, que garantem a qualidade e a sustentabilidade da produção.
      As principais etapas são:
      <br> <br>
      <ul>
        <li>
          <span>Seleção das áreas de coleta:</span> deve-se escolher áreas com palmeiras de açaí de qualidade, próximas
          a rios e igarapés. É importante garantir a preservação das áreas naturais da floresta, evitando a degradação
          ambiental.
        </li>
        <li>
          <span>Colheita dos frutos:</span> a colheita é feita quando os frutos estão maduros, geralmente no período
          entre janeiro e julho. A colheita é feita por meio de barcos, que se aproximam das árvores e permitem a
          retirada dos cachos de frutos com o auxílio de um gancho. É importante respeitar a capacidade de carga das
          árvores, evitando a colheita excessiva que pode prejudicar a produção futura.
        </li>
        <li>
          <span>Processamento da polpa:</span> a polpa do açaí é extraída dos frutos e pode ser congelada ou
          pasteurizada para garantir a conservação do produto. É importante realizar o processamento em condições
          higiênicas adequadas e com equipamentos de qualidade.
        </li>
        <li>
          <span>Comercialização:</span> o açaí pode ser vendido como polpa congelada, na forma de açaí na tigela,
          sorvetes, sucos e outros produtos. É importante garantir a qualidade do produto e a sustentabilidade da
          produção, escolhendo fornecedores que trabalhem com práticas responsáveis e sustentáveis.
        </li>
      </ul>
      Além disso, o manejo do açaí de várzea deve ser realizado de forma a garantir a preservação do habitat natural da
      espécie, evitando a degradação ambiental e a redução da biodiversidade. O açaí é uma espécie importante para a
      economia e a cultura local, mas seu manejo deve ser realizado de forma sustentável, garantindo a preservação da
      floresta e o desenvolvimento da região.

    </ion-card-content>
  </ion-card>

  <ion-card class="card-conteudo">
    <ion-card-header class="titulo">
      <ion-card-title class="titu" color="light">Exigência </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <br>
      <h5>CLIMA</h5>
      <hr>
      O açaizeiro é uma espécie tipicamente tropical, que se desenvolve bem em condições de clima quente e úmido e não
      suporta secas prolongadas.
      <br> <br>
      Podendo desenvolver-se bem em temperaturas médias mensais acima de 18°C. Temperaturas inferiores a esse limite
      podem causar atrasos no desenvolvimento
      das plantas.
      <br> <br>
      <h5>SOLO</h5>
      <hr>
      Desenvolve-se bem em
      uma gama variada de solos, desde o tipo bastante argiloso das várzeas altas do estuário
      do rio Amazonas até o areno-argiloso das
      13
      áreas de terra fume. 
      <br> <br>
      De modo geral, o pH
      dessas áreas situa-se entre 4,5 e 6,5. O crescimento da planta é favorecido pela existência de altos teores de
      matéria orgânica. As
      áreas muito arenosas, com baixa capacidade
      de retenção de água, devem ser evitadas.


    </ion-card-content>
  </ion-card>

  <ion-button>Saiba Mais</ion-button>

</ion-content>