<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>acai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  
<div class="bnt">
  <div class="bnt-pragas" [routerLink]="['/pragas']">
    <button>PRAGAS</button>
  </div>
  <div class="bnt-doencas" [routerLink]="['/doencas']" routerdirection="forward">
    <BUtton>DOENÇAS</BUtton>
  </div>
</div>

  <hr>

  <div sobre>
    <h1>Açai</h1>
    <p>
      O açaí é uma palmeira da família Arecaceae, gênero Euterpe. Ela apresenta um tronco ereto, solitário ou em touceira, que pode chegar a medir 20 metros de altura e 30 centímetros de diâmetro. As folhas são pinadas, com até 3 metros de comprimento e compostas por folíolos alongados e estreitos. Os frutos de modo geral são globosos, arredondados ou ovalados, com cerca de 1,5 a 2,5 centímetros de diâmetro, de cor roxa escura quando maduros e com polpa fibrosa, envolvendo uma pequena semente dura e escura. O açaizeiro é uma planta tropical nativa da região amazônica do Brasil. 
    </p>
    <p>
      No estado do Amapá o hábito de consumir açaí é cultural, sendo consumido durante as refeições como complemento ou como prato principal, com a farinha de mandioca, associado ao peixe, camarão ou carne, sendo o alimento básico para as populações de origem ribeirinha. Além disso, com o açaí são fabricados sorvetes, licores, doces, néctares e geleias, podendo ser aproveitado, também, para a extração de corantes e antocianina 
    </p>
    <p>
      O fruto do açaí nativo da região do Amapá possui as seguintes características como:  
    </p>
    <ul>
      <li>Tamanho: os frutos do açaí nativo do Amapá costumam ser menores do que aqueles encontrados em outras regiões. Eles podem ter entre 1 e 2 centímetros de diâmetro. </li>
      <li>Cor: a cor do fruto varia do roxo-escuro ao preto. O açaí nativo do Amapá tem uma cor mais intensa do que outras variedades.</li>
      <li>Sabor: o fruto do açaí nativo do Amapá é mais rico em sabor do que outras variedades. Ele é menos ácido e tem um sabor mais adocicado.  </li>
      <li>Nutrientes: o açaí nativo do Amapá é rico em nutrientes, como cálcio, ferro e vitamina</li>
    </ul>

  </div>
</ion-content>
