<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>acai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <img alt="Silhouette of mountains" src="https://t4.ftcdn.net/jpg/01/94/05/65/240_F_194056532_qHuI1trxAFleukIMITeCGnUw4CPXnAzT.jpg" />
    <ion-card-header>
      <ion-card-title>Açai</ion-card-title>
      <hr>
      <ion-card-subtitle>
        <div class="bnt">
          <div class="bnt-pragas" [routerLink]="['/pragas']">
            <button>PRAGAS</button>
          </div>
          <div class="bnt-doencas" [routerLink]="['/doencas']" routerdirection="forward">
            <BUtton>DOENÇAS</BUtton>
          </div>
        </div>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card class="card-conteudo">
    <ion-card-header class="titulo">
      <ion-card-title class="titu" color="light">Historico de Produção</ion-card-title>
    </ion-card-header>
  
    <ion-card-content >
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod cupiditate odio iusto enim similique deleniti ullam dolor nulla tempora. Eius iusto voluptatibus laudantium, molestias at blanditiis maiores doloribus quod. Maxime. <br> <br>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, impedit similique. Commodi velit accusantium ducimus quod quos ab iste laudantium dolor repudiandae quaerat! Quidem, iure! Est facere at ratione voluptates.

    </ion-card-content>
  </ion-card >

  <ion-card class="card-conteudo">
    <ion-card-header class="titulo">
      <ion-card-title class="titu" color="light">Variedades</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod cupiditate odio iusto enim similique deleniti ullam dolor nulla tempora. Eius iusto voluptatibus laudantium, molestias at blanditiis maiores doloribus quod. Maxime. <br> <br>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, impedit similique. Commodi velit accusantium ducimus quod quos ab iste laudantium dolor repudiandae quaerat! Quidem, iure! Est facere at ratione voluptates.

    </ion-card-content>
  </ion-card>

  <ion-card class="card-conteudo">
    <ion-card-header class="titulo">
      <ion-card-title class="titu" color="light">Manejo</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod cupiditate odio iusto enim similique deleniti ullam dolor nulla tempora. Eius iusto voluptatibus laudantium, molestias at blanditiis maiores doloribus quod. Maxime. <br> <br>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, impedit similique. Commodi velit accusantium ducimus quod quos ab iste laudantium dolor repudiandae quaerat! Quidem, iure! Est facere at ratione voluptates.

    </ion-card-content>
  </ion-card>

  <ion-card class="card-conteudo">
    <ion-card-header class="titulo">
      <ion-card-title class="titu" color="light">Exigência Nutricional</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod cupiditate odio iusto enim similique deleniti ullam dolor nulla tempora. Eius iusto voluptatibus laudantium, molestias at blanditiis maiores doloribus quod. Maxime. <br> <br>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, impedit similique. Commodi velit accusantium ducimus quod quos ab iste laudantium dolor repudiandae quaerat! Quidem, iure! Est facere at ratione voluptates.

    </ion-card-content>
  </ion-card>
  
</ion-content>
